@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  
  --font-playfair: var(--font-playfair);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Template Colors - Easily Customizable */
  --primary: #a259ff;
  --primary-foreground: #ffffff;
  --secondary: #231942;
  --accent: #7c3aed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
